body {
    font-family: Papyrus, Helvetica, sans-serif;
    text-align: center;
    background: url("./landscape-bg.jpeg");
    background-size: cover;
}

#board {
    width: 600px;
    height: 600px;
    /* background-color: green; */

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    background: url("./grass.png");
    background-size: cover;
    border: 3px solid white;
    border-radius: 25px;
}

#board div {
    /* board = 540 x 540, divide into 3x3 tiles --> 180 x 180 per div */
    width: 200px; 
    height: 200px;
    background-image: url("./flower.PNG");
    background-size: cover;
}

#board div img {
    /* all img tags inside tiles */
    width: 100px;
    height: 100px;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#lobbyWindow {
    padding: 350px;
    border-radius: 5px;
    text-align: center; /* Align content center within the box */
}


.thick {
    font-weight: bold;
}

.large-button {
    width: 200px;
    height: 60px;
    font-size: 30px;
    font-family: papyrus;
}

#score {
    font-size: 40px;
}

  