body {
    font-family: Papyrus, Helvetica, sans-serif;
    text-align: center;
    background: url("./landscape-bg.jpeg") no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
    
}

#board {
    width: 600px;
    height: 600px;
    /* background-color: green; */

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    background: url("./grass.png");
    background-size: cover;
    border: 3px solid white;
    border-radius: 25px;
}

#board div {
    /* board = 540 x 540, divide into 3x3 tiles --> 180 x 180 per div */
    width: 200px; 
    height: 200px;
    background-image: url("./flower.PNG");
    background-size: cover;
}

#board div img {
    /* all img tags inside tiles */
    width: 100px;
    height: 100px;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#lobbyWindow {
    padding: 150px;
    border-radius: 5px;
    text-align: center; /* Align content center within the box */
}


.thick {
    font-weight: bold;
}

.large-button {
    width: 200px;
    height: 60px;
    font-size: 25px;
    font-family: papyrus;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.bottom-button {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    height: 60px;
    font-size: 25px;
    font-family: papyrus;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
/* .large-button, .bottom-button {
    width: 200px;
    height: 60px;
    font-size: 25px;
    font-family: papyrus;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: inline-block;
    border-radius: 4px;
    border: none;
    text-align: center;
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    position: relative;
} */

.large-button span, .bottom-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.large-button span:after, .bottom-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 50%;
    right: -20px;
    transform: translateY(-50%); /* Center the arrow vertically */
    transition: 0.5s;
}

.large-button:hover span, .bottom-button:hover span {
    padding-right: 25px;
}

.large-button:hover span:after, .bottom-button:hover span:after {
    opacity: 1;
    right: 0;
}
#score {
    font-size: 30ßpx;
}
#Leaderboard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media only screen and (max-width: 600px) {
    /* CSS styles for small screens */
    .container {
        width: 100%;
    }
    .sidebar {
        display: none; /* Hide sidebar on small screens */
    }
    body {
        font-size: 14px; /* Example of smaller font size for phones */
    }
}
#leaderboardTable {
    width: 100%;
}

#leaderboardTable th {
    font-size: 40px;
    color: white;
    text-align: center;
    padding: 10px; /* Add padding for spacing */
    font-weight: bolder;
}
#leaderboardTable td {
    font-size: 30px; /* Change the font size as desired */
    text-align: center;
    padding: 10px;
    font-weight: bold; /* Make the text bold */
}

#leaderboardButton {
    display: none;
}

/* Separate headers onto different lines for smaller screens */
@media only screen and (max-width: 600px) {
    #leaderboardTable th {
        display: block;
        width: 100%;
    }
}